{% extends 'index.html'%}

{% block b%}
<section  class="slider-area">      
    <div class="slide-content-wrapper text-center"> 
        <div class="slider-content-area">  
            <h1 style="color: black;padding-bottom: 60px;">Alimentos</h1>
            <table style="color: black;" class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center;">Nombre</th>
                        <th style="text-align: center;"> Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in al %}
                        <tr>
                            <td> {{ a.nombre }}</td>
                            <td> {{ a.categoria }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>
</section>
{%endblock%}
